body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
h1, h2 {
    color: #d9534f;
    text-align: center;
}
p {
    padding: 0 20px;
}
ul, ol {
    text-align: center;
    padding: 0 40px;
    list-style-position: inside 

}
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
figure {
    text-align: center;
}
figcaption {
    text-align: center;
    font-style: italic;
    color: #555;
}
div {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
